data_uncertainties/trends/*.nc filter=lfs diff=lfs merge=lfs -text
data_uncertainties/variances/*/*.nc filter=lfs diff=lfs merge=lfs -text
data_uncertainties/yaml/77853.nc filter=lfs diff=lfs merge=lfs -text
data_hfnoise/*nc filter=lfs diff=lfs merge=lfs -text
output_hfnoise/*nc filter=lfs diff=lfs merge=lfs -text
